.box-category {

display: inline-block;

background-color: var(--cor-destaque);
width: 650px;
height: 400px;

margin-top: 30px;
margin-right: 30px;
padding: 30px;

border-radius: 9px;

text-align: justify;
line-height: 2;
font-size: 24px;
color: #FFF;
}

.box-category.second {
background-color: var(--cor-principal);
}


/* Events */

.box-category:hover {
  transform: scale(1.1);
}

