.box-category {

display: inline-block;

background-color: var(--cor-destaque);
width: 650px;
height: 400px;

margin-top: 30px;
margin-right: 30px;
padding: 30px;

border-radius: 9px;

text-align: justify;
line-height: 2;
font-size: 24px;
color: #FFF;
transition-duration: 1.05s;

text-shadow: 2px 4px 0px black;
box-shadow: 3px 2px 4px 0px black;
}

.box-category.second {
background-color: var(--cor-principal);
}


/* Events */

.box-category:hover {
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
}

