.main-footer{
  background-color: var(--cor-principal);
  color: #FFF;
  text-align: center;
  box-shadow: -1px -6px 1px var(--cor-realce);
  font-weight: 300;
  padding: 10px;
}

.main-footer a {
  color: inherit;
  text-decoration: none;
}