
.main-details {
  background-color: var(--cor-secundaria);
  color: #000;
  margin-top: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  
}

.main-summary {
  background-color: var(--cor-principal);
  padding: 15px;
  color: #FFF;
  cursor: pointer;
}

