.main-header {
  background-color: var(--cor-principal);
  padding: 20px;
  box-shadow: -0.5px 6px 1px var(--cor-realce);
  margin-bottom: 6px;

}

.header-link {
  text-decoration: none;
  font-style: none;

  font-size: 24px;
  color: #FFF;
  padding: 20px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}