.main-header {
  background-color: var(--cor-principal);
  padding: 20px;
  box-shadow: -0.5px 6px 1px var(--cor-realce);
  margin-bottom: 6px;

}

.header-link {
  text-decoration: none;
  font-style: none;

  font-size: 24px;
  color: #FFF;
  padding: 20px;
  position: relative;
}

.header-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--cor-realce);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}