.main-title {
  font-size: 36px;
  color: #FFF;
  font-family: "New Rocker";
  font-weight: normal;
  letter-spacing: 6px;
  display: inline;
  text-align: center;

}

.second {
  background-color: var(--cor-realce);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
}

.box_title {
  display: block;
  font-size: 28px;
  font-weight: 500;
}