.paragraph-emphasis{
  line-height: 2;
  font-size: 24px;
  max-width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 390;
}