@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto:wght@100;300;500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal: #1C3144;
  --cor-secundaria: #A2AEBB;
  --cor-terciaria: #3F88C5;
  --cor-destaque: #D00000;
  --cor-realce: #FFBA08;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--cor-terciaria);
}
